<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Medina maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mapping application to plot multiple addresses onto one page">
    <meta name="author" content="Koen van Besien">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/personal.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/assets/ico/favicon.png">
  </head>

  <body>
<!-- Wrapper div -->

<div id="wrap">

<!-- Navigation top bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Medina maps</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
            <div class="pull-right">
                <button id="editor-btn" class="btn btn-primary">Toon teskstvak</button>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- Content container -->

    <div class="container-fluid">
    
	    <div class="row-fluid">
			<div class="span6 offset1">
		      <div id='inputForm'>
		         <form id="target">
		            <fieldset>
		              <legend>Kopieer de pdf text (Gebruik Adobe PDF reader)</legend>
		              <textarea id="txtinput" rows="6"></textarea>
		            </fieldset>
		            <div>
		              <button type="submit" id='submit' class="btn btn-primary">Geef weer op kaart</button>
		            </div>
		          </form>
		      </div>
		    </div>
      </div>
      <div class="row-fluid">
	      <div class="span4">
	         <div id="tableOverview"></div>
	      </div>
	      <div class="span8">
	        <div id="map-canvas" class="hidden" style="width: 100%; height: 200px"></div>
	       </div>
       </div>
    </div> <!-- /container -->
          <div id="push"></div>
</div> <!-- wrap -->    

<div id="footer">
  <div class="container">Koen van Besien</div>
</div>
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-2.0.0.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <!--<script src="./assets/js/gmap3.min.js"></script>-->
    <script src="/assets/js/pdf-to-table.js"></script>

  </body>
</html>